* {
    box-sizing: border-box;
}



.searchCard{
    width: 60%;
}

input::placeholder {
    /* font-style: italic; */
    padding-left: 3px !important;
}

input{
    padding: 5px 2px !important;
    margin-bottom: 10px !important;
}

label{
    padding: 0px !important;
    margin: 0px !important;
}

.cursor-pointer{
    cursor: pointer;
}

.custom-half-star{
    /* --fa-primary-color: #f5e000 !important;
    --fa-secondary-color: #999999 !important; */
    background-image: linear-gradient(to right, #f5e100cd 50%, #999999 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.custom-empty-star{
    color: #999999 !important;
}

.custom-filled-star{
    color: #f5e100cd !important;
}

.green-calendar-icon{
    color: rgb(0, 143, 0);
}

tabs .nav-link.active {
    color: #fff !important;
    background-color: #520080 !important;
    border-color: var(--bs-nav-tabs-link-active-border-color);
    border-bottom: 7px solid white !important; 
}

.nav-tabs .nav-link {
    margin-bottom: calc(-1 * var(--bs-nav-tabs-border-width));
    border: 0px solid black;
    /* border-top-left-radius: var(--bs-nav-tabs-border-radius); */
    /* border-top-right-radius: var(--bs-nav-tabs-border-radius); */
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    isolation: isolate;
    background-color: #51008000;
    border-color: 0px solid black;
    /* background-color: #ffefff !important; */
    /* border-radius: 8px; */
}

#businessDetailsDiv{
    border-radius: 8px;
    box-shadow: 1px 3px 4px 4px #80008038;
    
}

.nav-link:focus, .nav-link:hover {
    color: white;
}

.nav-link {
    color: #ffffffa3 !important;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border: 0px solid rgba(255, 255, 255, 0) !important;
}

link:hover {
    isolation: isolate;
    border-color: rgba(255, 255, 255, 0) !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: white !important;
    background-color: rgba(255, 255, 255, 0) !important; 
    border: 0px solid rgba(255, 255, 255, 0) !important;
    border-bottom: 5px solid white !important;
}

/* .nav-tabs .nav-link:focus{
    border: 0px solid rgba(255, 255, 255, 0) !important;
} */

.form-check-input:checked {
    background-color: #1d5000 !important;
    border-color: #1d5000 !important;
}

.form-check-input:focus {
    border-color: rgba(29, 80, 0, 0) !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0.25rem rgba(29,80,0,0) !important;
}

.form-check-input:hover {
    border-color: rgb(29 80 0) !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0.25rem rgba(29,80,0,.25) !important;
}

#noResultsDiv{
    text-align: center !important;
    width: 70% !important;
    border: 1px solid #ffeaea !important;
    border-radius: 8px !important;
    --box-shadow-color: #b400004d !important;
    box-shadow: 0px 0px 10px var(--box-shadow-color) !important;
}

#mapContainer{
    height: 400px !important;
}

#businessDetailsDiv{
    display: none !important;
}

.carousel-control-prev,
.carousel-control-next {
    color: grey !important;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    color: black !important;
}