* {
    box-sizing: border-box;
}



.searchCard{
    width: 60%;
}

input::placeholder {
    /* font-style: italic; */
    padding-left: 3px !important;
}

input{
    padding: 5px 2px !important;
    margin-bottom: 10px !important;
}

label{
    padding: 0px !important;
    margin: 0px !important;
}

.cursor-pointer{
    cursor: pointer;
}

.custom-half-star{
    /* --fa-primary-color: #f5e000 !important;
    --fa-secondary-color: #999999 !important; */
    background-image: linear-gradient(to right, #f5e100cd 50%, #999999 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.custom-empty-star{
    color: #999999 !important;
}

.custom-filled-star{
    color: #f5e100cd !important;
}

.green-calendar-icon{
    color: rgb(0, 143, 0);
}